@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root {
    color: #ffffff;
    background-color: #6B6E70;
    font-synthesis: none;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

input {
    background-color: #2B2A33;
}

a:hover {
    color: #747bff;
}

@media screen and (max-width: 480px) {
    #root {
        padding: 0;
    }
    .login {
        height: 100%;
        width: 100%;
        max-width: 100%;
    }
}