@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #ffffff;
        background-color: #6B6E70;
        font-synthesis: none;
        line-height: 1.5rem;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 100vh;
        color-scheme: light dark;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}